//- --------------------------------------------------------
//- Libraries
//- --------------------------------------------------------

@import 'nib'
@import 'jeet'

//- --------------------------------------------------------
//- Mixins
//- --------------------------------------------------------
@import 'mixins/_variables'
@import 'mixins/_mixins'
@import 'mixins/_reset'
@import 'mixins/_utility'

.container
  text-align: center
  header, main
    margin: 20px 0

.important
  margin-top: 20px
  text-decoration: underline


@import 'mixins/_mediaqueries'
