
//- --------------------------------------------------------
//- Rem Mixin
//- --------------------------------------------------------

rem($property, $value)
  {$property}: $value
  {$property}: unit(($value / $baseFontSize), 'rem')

//- --------------------------------------------------------
//- Relative Font Size
//- --------------------------------------------------------

// font-size($v)
//   rem('font-size', $v)

//- --------------------------------------------------------
//- Relative Letter Spacing
//- --------------------------------------------------------

letter-spacing($v)
  rem('letter-spacing', $v)

//- --------------------------------------------------------
//- Vertical Alignment
//- --------------------------------------------------------

valign()
  position: absolute
  top: 50%
  transform: translateY(-50%)

//- --------------------------------------------------------
//- Cache MediaQueries
//- TODO: Fails on "display: block" as "block" is a keyword
//- --------------------------------------------------------

media($condition)
  helper($condition)
    unless $media_cache[$condition]
      $media_cache[$condition] = ()
    push($media_cache[$condition], block)

  +helper($condition)
    {selector() + ''}
      {block}

//- --------------------------------------------------------
//- Apply MediaQueries
//- --------------------------------------------------------

dump_media_cache()
  for $media, $blocks in $media_cache
    $media = unquote($media_aliases[$media] || $media)
    $media = '(%s)' % $media unless match('\(', $media)
    $media = 'only screen and %s' % $media
    @media $media
      for $block in $blocks
        {$block}
