
//- --------------------------------------------------------
//- Classes
//- --------------------------------------------------------

// Image Replacement
.ir
  font: 0/0 a
  text-shadow: none
  color: transparent

// Hide
.hide
  display: none

// Visually Hidden
.vh
  border: 0
  clip: rect(0 0 0 0)
  height: 1px
  margin: -1px
  overflow: hidden
  padding: 0
  position: absolute
  width: 1px

// Micro Clearfix
.cf:before
.cf:after
  content: ' '
  display: table

.cf:after
  clear: both

.cf
  *zoom: 1

.baseColor
  color: $baseColor

.accentColor
  color: $accentColor

.lightWeight
  font-weight: 100

.font-14
  font-size: 14px

.font-16
  font-size: 16px

.font-18
  font-size: 18px

.font-22
  font-size: 22px

.font-24
  font-size: 24px

.font-32
  font-size: 32px

.font-42
  font-size: 42px

.font-48
  font-size: 48px

.block
  float: left
  display: inline-block

.border-top
  padding-top: 15px
  border-top: 1px solid $borderColor

.border-bottom
  padding-bottom: 15px
  border-bottom: 1px solid $borderColor

.border-left
  padding-left: 15px
  border-left: 1px solid $borderColor

.border-right
  padding-right: 15px
  border-right: 1px solid $borderColor

.margin-top
  margin-top: $baseMargin

.margin-bottom
  margin-bottom: $baseMargin

.margin-left
  margin-left: $baseMargin

.margin-right
  margin-right: $baseMargin

.constrain
  center()
  width: 1020px
  padding: 0 40px

  +media('tablet')
    width: 768px

  +media('mobile')
    width: 100%
    padding: 0 20px


.large-only
  +media('mobile')
    display: none !important

.small-only
  +media('desktop')
    display: none !important

.display-none
  display: none !important

.overflow-hidden
  height: 100%;
  overflow: hidden;
  width: 100%;
  position: fixed;

.hidden
  opacity: 0

.button-disabled
  opacity: 0.3
  pointer-events: none
