
//- --------------------------------------------------------
//- Colors
//- --------------------------------------------------------



//- --------------------------------------------------------
//- Image Paths
//- --------------------------------------------------------



$imagePath = '../images/'
$juroBlue = #1784cd

$spotDarkBlue = #2D405F

$spotGreen = #659F02
$spotPink = #CA005B
$spotOrange = #D54D28
$spotRed = #A52D34
$spotBrown = #5F4439
$spotPurple = #510061
$spotYellow = #FEB113
$spotBlue = #0E6798

$starColor = white


//- --------------------------------------------------------
//- Colours
//- --------------------------------------------------------

$header--color        = #fff
$header--font         = 'Helvetica neue', 'Helvetica', arial, sans-serif
$header--weight       = 100
$header--size         = 85px

$sub-header--color    = #fff
$sub-header--font     = 'Helvetica neue', 'Helvetica', arial, sans-serif
$sub-header--weight   = 100
$sub-header--size     = 24px

$grid--color          = #fff
$grid--font           = 'Helvetica neue', 'Helvetica', arial, sans-serif
$grid--weight         = 100


//- --------------------------------------------------------
//- Fonts
//- --------------------------------------------------------

$baseFontSize         = 16px
$baseLineHeight       = 100%
$baseFontFamily       = Helvetica, sans-serif
$borderColor = black

//- --------------------------------------------------------
//- Spacing / Grid
//- --------------------------------------------------------

$baseMargin           = 15px

//- --------------------------------------------------------
//- Media Queries
//- --------------------------------------------------------

$media_cache = {}
$media_aliases = {
  mobile: '(min-width : 320px) and (max-width : 700px)'
  small: '(min-width : 320px) and (max-width : 1200px)'
  tablet: '(min-width : 700px) and (max-width : 1200px)'
  desktop: '(min-width : 880px)'
}
